<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hekr.android.app"
          android:versionCode="2"
          android:versionName="1.2.5">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <!--个推权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- ibeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.kongyuan001" />
    <permission
            android:name="getui.permission.GetuiService.kongyuan001"
            android:protectionLevel="normal" >
    </permission>


    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/appicon"
            android:label="HEKR"
            android:persistent="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            >
        <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
        <activity
                android:name=".LoginActivity"
                android:label="HEKR"
                android:launchMode="singleTask"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginWebActivity" />
        <activity android:name=".MainActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".DeviceDetailActivity" >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".SingleDeviceDetailActivity" >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutOursActivity" >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
                android:name=".TuCaoActivity"
                android:label="@string/title_activity_use_help" >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>

        <activity
                android:name=".ListDeviceActivity"
                android:label="@string/title_activity_list_device"
                android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>

        <activity
                android:name=".AddDeviceActivity"
                >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
                android:name=".HekrConfigActivity"
                >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity
                android:name=".RenameDeviceActivity"
                >
            <intent-filter>
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </activity>
        <activity android:name="com.hekr.android.app.SetActivity"
                  android:label="@string/title_activity_set"
                >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:value="556d5f1067e58e5892005fda" android:name="UMENG_APPKEY"></meta-data>
        <meta-data
                android:name="UMENG_CHANNEL"
                android:value="${UMENG_CHANNEL_VALUE}"/>
        <meta-data android:name="version" android:value="1.2.5"></meta-data>

        <meta-data
                android:name="PUSH_APPID"
                android:value="RPvJOZ5L4L75qyudwDPjf7" /><!--替换为第三方应用的APPID-->
        <meta-data
                android:name="PUSH_APPKEY"
                android:value="ho1m8XLKjt79YyV7bh5g63" /><!--替换为第三方应用的APPKEY-->
        <meta-data
                android:name="PUSH_APPSECRET"
                android:value="AcJuSGneaY7IXQ3kIPNzm5" /><!--替换为第三方应用的APPSECRET-->

        <!-- 配置SDK核心服务 -->
        <service
                android:name="com.igexin.sdk.PushService"
                android:exported="true"
                android:label="NotificationCenter"
                android:process=":pushservice" >
        </service>
        <service
                android:name="com.igexin.sdk.PushServiceUser"
                android:exported="true"
                android:label="NotificationCenterUser" >
        </service>
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
                android:name="com.igexin.sdk.PushManagerReceiver"
                android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        <activity
                android:name="com.igexin.sdk.PushActivity"
                android:excludeFromRecents="true"
                android:exported="false"
                android:process=":pushservice"
                android:taskAffinity="com.igexin.sdk.PushActivityTask"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <service
                android:name="com.igexin.download.DownloadService"
                android:process=":pushservice" />
        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <provider
                android:name="com.igexin.download.DownloadProvider"
                android:authorities="downloads.kongyuan001"
                android:process=":pushservice" />
        <activity
                android:name="com.igexin.getuiext.activity.GetuiExtActivity"
                android:configChanges="orientation|keyboard|keyboardHidden"
                android:excludeFromRecents="true"
                android:exported="false"
                android:process=":pushservice"
                android:taskAffinity="android.task.myServicetask"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <receiver
                android:name="com.igexin.getuiext.service.PayloadReceiver"
                android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <action android:name="com.igexin.sdk.action.hs3697Ji086ZL1RynKcQo3" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.hekr.android.app.PushDemoReceiver"
                  android:exported="false">

            <intent-filter>
            <action android:name="com.igexin.sdk.action.RPvJOZ5L4L75qyudwDPjf7"/>
            </intent-filter>

        </receiver>
        <service
                android:name="com.igexin.getuiext.service.GetuiExtService"
                android:process=":pushservice" />
        <!-- 个推SDK配置结束 -->

    </application>

</manifest>

